<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <p class="oldText">
      {{chat.lastText}}
    </p>
    <p class="newText">
      {{chat.newText}}
    </p>
    <p class="oldText">
      {{chat.lastText}}
    </p>
    <p class="newText">
      {{chat.newText}}
    </p>
    <p class="oldText">
      {{chat.lastText}}
    </p>
  </ion-content>
  <ion-footer-bar>
      <button class="button button-clear icon ion-plus-circled" ng-click="openPopover.show($event)"></button>
      <div class=" item-input-inset" style="width:100%">
          <label class="item-input-wrapper">
              <input type="text" placeholder="">
          </label>
      </div>
      <button class="button button-clear icon ion-camera" style="margin-right:3px"></button><div></div>
      <button class="button button-clear icon ion-mic-a" style="margin-right:3px"></button>
  </ion-footer-bar>
</ion-view>
