<ion-view view-title="Create New Group">


<ion-content>

  <ion-list>
    <div class="list list-inset">
    <a class="item item-icon-left" ui-sref="contactinfo">
      <i class="icon ion-person"></i>
      Name 1 ( Group 1, Group 2)
    </a>
    <a class="item item-icon-left" href="#">
      <i class="icon ion-person"></i>
      Name 2 ( Group 1, Group 2)
    </a>
    <a class="item item-icon-left" href="#">
      <i class="icon ion-person"></i>
      Name 3 ( Group 1, Group 2)
    </a>
</div>
  </ion-list>

<ion-slide-box active-slide="contactGroupSlide">
  <ion-slide>
    <div class="box yellow">
      <div class="row">
        <div class="col">
          <img class="userCustom" src="../img/users/mario.png"><br><br>
          Name<br>Phone no<br>Status<br>Date & Time<br>Office Status
        </div>
        <div class="col">
          <img class="userCustom" src="../img/users/pikachuy.png"><br><br>
          Name<br>Phone no<br>Status<br>Date & Time<br>Office Status
        </div>
        <div class="col">
          <img class="userCustom" src="../img/users/sonic.png"><br><br>
          Name<br>Phone no<br>Status<br>Date & Time<br>Office Status
        </div>
      </div>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="box yellow">
      <div class="row">
        <div class="col">
          <img class="userCustom" src="../img/users/mario.png"><br><br>
          Name<br>Phone no<br>Status<br>Date & Time<br>Office Status
        </div>
        <div class="col">
          <img class="userCustom" src="../img/users/pikachuy.png"><br><br>
          Name<br>Phone no<br>Status<br>Date & Time<br>Office Status
        </div>
        <div class="col">
          <img class="userCustom" src="../img/users/sonic.png"><br><br>
          Name<br>Phone no<br>Status<br>Date & Time<br>Office Status
        </div>
      </div>
    </div>
  </ion-slide>

</ion-slide-box>

<div class="list list-inset">
  <label class="item item-input">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input">
    <span class="input-label">Picture</span>
    <i class="icon ion-paperclip"></i>
    <input type="password" placeholder="Upload picture">
  </label><br>
  <button class="button button-calm">
    Save
  </button>
</div>

</ion-content>
</ion-view>
