<ion-view view-title="Tasks">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Rosli Amir</div>
      <div class="item item-body">
        <div>
          POC Felda FGVH <br> Dateline: <b>13 February 2015</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">UXUI</div>
      <div class="item item-body">
        <div>
          MOF Mockup <br> Dateline: <b>28 February 2015</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">UXUI</div>
      <div class="item item-body">
        <div>
          ANSI Website development <br> Dateline: <b> Unspecified</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
