<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats | filter:filterchats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <a class="button button-clear icon ion-happy" ui-sref="contact"></a>
    <div class=" item-input-inset" style="width:100%">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Search" ng-model="filterchats">
      </label>
    </div>
  </ion-footer-bar>
</ion-view>

<!--
<ion-footer-bar>
  <button class="button button-clear icon ion-plus-circled" ng-click="openPopover.show($event)"></button>
  <div class=" item-input-inset" style="width:100%">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Search" ng-model="filterchats">
    </label>
  </div>
</ion-footer-bar>
-->
